<img src='<%= @photo.url%>'>

<p class="heart_count">Heart Count = <%= @photo.heart_count %>
<ul class="comments">
<% @photo.hearts.each do |heart| %>
  <%if heart.comment != "" %>
    <li><%=heart.comment%></li>
  <%end %>
<% end %>
</ul>


  <%if @photo.hearts.find_by(user_id: current_user.id)%>
    <form method='post' action='/hearts' id='unheart'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='user_id' value='<%=current_user.id%>'>
      <input type='hidden' name='photo_id' value='<%=@photo.id%>'>
      <input type='submit' value='Unheart'>
    </form>
  <%else%>
    <form method='post' action='/hearts' id='heart'>
      <input type='hidden' name='heart[user_id]' value='<%=current_user.id%>'>
      <input type='hidden' name='heart[photo_id]' value='<%=@photo.id%>'>
      <input type='text' name='heart[comment]' placeholder='What makes this so heartable?'>
      <input type='submit' value='Heart it!'>
    </form>
  <%end%>


<!-- Hidden forms to pop up after AJAX requests -->
  <form method='post' action='/hearts' id='unheart' class="hidden">
    <input type='hidden' name='_method' value='delete'>
    <input type='hidden' name='user_id' value='<%=current_user.id%>'>
    <input type='hidden' name='photo_id' value='<%=@photo.id%>'>
    <input type='submit' value='Unheart'>
  </form>

  <form method='post' action='/hearts' id='heart' class="hidden">
    <input type='hidden' name='heart[user_id]' value='<%=current_user.id%>'>
    <input type='hidden' name='heart[photo_id]' value='<%=@photo.id%>'>
    <input type='text' name='heart[comment]' placeholder='What makes this so heartable?'>
    <input type='submit' value='Heart it!'>
  </form>