
<div class='text-center'>
  <div class='panel'>
    <% if @errors %>
      <p><%= @errors %></p>
    <% end %>
  </div>
<div class='panel panel-primary photo single' id='photo<%=@photo.id%>'>
  <div class='panel-body'><img src='<%= @photo.url%>' class='img-responsive' /></div>
  <div class='panel-footer'>
  <%= erb :'/hearts/_heart_buttons', locals: {photo: @photo} %>
  </div>
  <ul class='list-group comments'>
    <% @hearts.each do |heart| %>
      <%if heart.comment != nil && heart.comment != ''%>
        <li class='list-group-item' id="<%= heart.id%>">
          <i class='fa fa-quote-left'></i> <%=heart.comment%> <i class='fa fa-quote-right'></i>
          --<a href='/users/<%=heart.user_id%>'><%=heart.user.username%></a>
        </li>
      <%end %>
    <% end %>
  </ul>
</div>
</div>
