<img src='<%= @photo.url%>'>

<p>Heart Count = <%= @photo.heart_count %>
<ul>
<% @photo.hearts.each do |heart| %>
  <li><%=heart.comment%></li>

  <%if heart.user_id == current_user.id%>
    <form method='post' action='/hearts'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='user_id' value='<%=current_user.id%>'>
      <input type='hidden' name='photo_id' value='<%=@photo.id%>'>
      <input type='submit' value='Unheart'>
    </form>
  <%end%>
<% end %>
</ul>
<% if @errors %>
  <%= @errors[0] %>
<% end %>

<form method='post' action='/hearts'>
  <input type='hidden' name='heart[user_id]' value='<%=current_user.id%>'>
  <input type='hidden' name='heart[photo_id]' value='<%=@photo.id%>'>
  <input type='text' name='heart[comment]' placeholder='What makes this so heartable?'>
  <input type='submit' value='Heart it!'>
</form>