
<div class='text-center'>
  <div class='panel' style='border: none;'>
    <% if @errors %>
      <h3><%= @errors %></h3>
    <% end %>
  </div>
<div class='panel panel-primary photo single' id='photo<%=@photo.id%>'>
  <div class='panel-body'><img src='<%= @photo.url%>' class='img-responsive' /></div>
  <div class='panel-footer'>
  <%= erb :'/hearts/_heart_buttons', locals: {photo: @photo} %>
  <%= erb :'/comments/_new', locals: {photo: @photo} %>
  </div>
  <ul class='list-group comments'>
    <% @photo.comments.each do |comment| %>
      <li class='list-group-item' id="<%= comment.id%>">
        <div><p><i class='fa fa-quote-left up'></i>&#9;<%=comment.comment%>   <i class='fa fa-quote-right down'></i>
              -- <a href='/users/<%=comment.user_id%>'><%=comment.user.username%></a></p>
            <%if comment.user.id == current_user.id%>
            <p>
              <form method='post' action='/comments/<%=comment.id%>' id='delete_comment'>
                <input type='hidden' name='_method' value='delete'>
                <input type='submit' value='delete comment'>
              </form>
            </p>
            <%end%>
        </div>
      <% if is_authenticated? %>
        <% if is_admin? %>
          <div class='admin-delete left'>
            <a href="/comments/<%=comment.id%>/delete">Delete Comment</a>
          </div>
        <%end%>
      <%end%>
      </li>
    <% end %>
  </ul>
</div>
</div>
