
<div class='photo' id="photo<%=@photo.id%>">
<img src='<%= @photo.url%>'>

<p class="heart_count">Heart Count = <%= @photo.heart_count %></p>
<div class="comments">
  <% @photo.hearts.each do |heart| %>
    <%if heart.comment != "" %>
      <article id="<%= heart.id%>">
        <%=heart.comment%>
      </article>
    <%end %>
  <% end %>
</div>

<%= erb :'/hearts/_heart_buttons', locals: {photo: @photo}%>
</div>

<!-- Hidden forms to pop up after AJAX requests -->
